* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Norse;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    background-color: black;
}

.main {
    display: flex;
    width: 65vw;
    margin: 0 auto;
    background-color: white;
}

.img, .main-body{
    height: 100vh;
}

.main-body {
    border: 1px solid green;
    flex-basis: 63%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
}

.img {
    width: 40%;
    background-image: url(img/side-background.avif);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    height: 9rem; 
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25%;
    width: 100%; 
}

.logo-container p {
    align-self: center;
    font-family: Norse;    
    font-size: 5rem;
}

.img > p {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    bottom: 0.8rem;
}

.img > p > a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: normal;
}



.header {
    padding: 4rem 3rem 2rem;
    height: 35%;
    display: flex;
    align-items: flex-end;
    background-color: rgba(249,250,251,255);
}

.header .text {
    display: flex;
    flex-direction: column;    
    gap: 1.4rem;
}

.text p {
    font-weight: bold;
    font-size: 1.4rem;
}
.header p span {
    font-style: italic ;
}

.form-main {
    padding: 0.5rem 3rem;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);   
    z-index: 1; 
}

.form-main > p {
    font-weight: bold;
    font-size: 1.3rem;
}

.form-main > * {
    padding: 1rem 0;
}

.button-div {
    height: 35%;
    background-color: rgba(249,250,251,255);
    padding: 2rem 3rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

label {
    display: block;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: 1.2px;
}

.form-list li {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
    flex: 1;
}

.form-input {
    border: 1px solid #E5E7EB;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.3rem;
    max-width: 20rem;
    margin-right: 1rem;
    min-width: 10rem;
    display: block;
    border-radius: 0.3em;
}

.form-input:focus {
    all: unset;
    border: 1px solid blue;
    padding: 0.3rem;
    border-radius: 0.3em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);
    max-width: 20rem;
    margin-right: 1rem;
    min-width: 10rem;
}

.form-input ~ p {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.button-div p{
    font-weight: bold;
}

.button-div button {
    background-color: #596D48;
    color: rgba(249,250,251,255);
    padding: 0.8rem 3rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    margin-bottom: 2rem;
}

.button-div a {
    text-decoration: inherit;
    color: black;
}

.button-div a:hover {
    text-decoration: underline;
}